@import '/css/mode.css';

.dashboard {
    background-color: #1A1E1F;
    box-sizing: border-box;
    inline-size: 15rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-size: 1rem;
    font-family: 'Russo One', sans-serif;
}

.items-navigation {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;

    box-sizing: border-box;
}

.items-navigation li {
    list-style: none;
}

.items-navigation a {
    text-decoration: none;
    color: #C4C7CF;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    border-end-start-radius: 10px;
    border-top-left-radius: 10px;
    inline-size: 12rem;
}

.items-navigation a:hover {
    color: #35BCB7;
    background-color: #070E0E;
    cursor: pointer;
    transition: .5s;
}


.items-grades {
    padding: 0px;
}

.items-grades li {
    list-style: none;
    display: flex;
    gap: .5rem;
    padding: .5rem;
    cursor: pointer;
}

.items-grades li:hover {
    background-color: #454757;
    transition: .5s;
    border-radius: 10px;
}




