.filter-date{
    display: flex;
    gap: .5rem;
    align-items: center;
    padding: 0.62rem;
    color: white;
}
.filter-date input{
    border: none;
    background:#454757;
    border-radius:15px;
    padding: .5rem;
    color: white;
}
.filter-date i{
    cursor: pointer;
}
.filter-date img{
    border-radius: 50%;
}